<div class="container">
  <div class="col-md-12">
    <div class="media block-update-card">
      <a class="pull-left" href="#">
        <img class="media-object update-card-MDimentions" src="http://3.bp.blogspot.com/-IbEOTNtCMyU/TfCAdHaAxEI/AAAAAAAAA8U/EATib38SSAM/s320/joe-mcelderry.jpg" alt="...">
      </a>
      <div class="media-body update-card-body">
        <h4 class="media-heading">Informações</h4>
        <% @user.each do |user| %>
          <b>Email</b>: <%= user.email %><br>
          <% if @followers.check_user_followed(current_user.id, user.id) == true %>
            Seguindo
          <% else %>
            <a href="/profiles/follow/<%= current_user.id %>/<%= user.id %>" class="btn btn-primary"><i class="fa fa-fighter-jet" aria-hidden="true"></i> Seguir</a>
          <% end %>
        <% end %>
      </div>
    </div>

    <h3 style="padding-top: 100px;"><i class="fa fa-refresh" aria-hidden="true"></i> Ultimos Posts</h3>
    <ul class="timeline">
      <% @posts.each do |post| %>
      <li>
        <div class="timeline-badge"><i class="fa fa-rocket" aria-hidden="true"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"><%= post.title %></h4>
            <p><small class="text-muted"><%= post.text %></small></p>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= post.created_at %></small></p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <a href="/" class="btn btn-danger"><i class="fa fa-chevron-left" aria-hidden="true"></i>
 Voltar</a>
  </div>
</div>
