<h1>Bem Vindo</h1>
<%= link_to 'Criar Postagem', new_post_path %><br>
<% if user_signed_in? %>
  <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
<% end %>

<h3>Pesquisa de Usuário</h3>

<%= form_tag(root_path, method: :get) do |f| %>
  <%= text_field_tag "email", nil, placeholder: 'Digite um email' %>
  <button type="submit" > Pesquisar</button>
<% end %>
<br>
<% if @user %>
  <table border="1">
    <thead>
      <tr>
        <th>Email</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><a href="/profiles/index/<%= user.email %>"> Detalhes</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3>Suas Postagens</h3>

<table border="1">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Data e Hora</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
