<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Pesquisa de Usuário</h3>
      <%= form_tag(root_path, method: :get) do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-10">
              <%= text_field_tag "email", nil, placeholder: 'Digite um email', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</button>
            </div>
          </div>
        </div>
      <% end %>
      <br>
      <% if @user %>
        <div class="panel panel-default">
          <div class="panel-body">
            <% @user.each do |user| %>
              <div class="col-md-2">
                <a href="#" class="thumbnail">
                  <img src="..." alt="...">
                </a>
              </div>
              <div class="col-md-10">
                <b>Email:</b> <%= user.email %><br>
                <a href="/profiles/index/<%= user.email %>" class="btn btn-link pull-right">Detalhes</a>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <a href="/posts/new" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>
 Nova Postagem</a>
    <h3>Suas Postagens</h3>
    <ul class="timeline">
      <% @posts.each do |post| %>
        <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= post.title %></h4>
              <p><small class="text-muted"><%= post.text %></small></p>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= post.created_at %></small></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
