<h3>Minhas Postagens</h3>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Texto</th>
      <th>Data</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= post.created_at %></td>
        <td><%= link_to 'Detalhes', post, class: 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_post_path(post), class: 'btn btn-info' %></td>
        <td><%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Você Tem Certeza?' }, class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/posts/new" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Novo Post</a>
<a href="/" class="btn btn-danger"><i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar</a>
